*{
     margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

body{
    
    background-color: rgb(172, 201, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


h1{
    font-size: 40px;
    margin-bottom: 49px;
    
}

form{
    width: 350px;
    height: auto;
    background-color: rgb(172, 172, 72);
    border-radius: 8px;
    padding: 20px;
}

form label, input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

form label{
    font-size: 30px;
}

form button{
    padding: 10px;
    background-color: brown;
    border-radius: 10px;
    width: 100%;

}
form button{
    background-color: aqua;
}