*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header{
    width: 100%;
    padding: 20px;
    background-color: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 53%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;


}
header a{
    color: rgb(238, 236, 236);
    text-decoration: none;
}
nav a{
    margin: 20px;

}
.container a:hover{
    color: rgb(0, 0, 0);
}
.hero-container{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-container{
    width: 350px;
    margin-left: 70px;
}
.left-container img{
    width: 400px;
    height: 400px;
    border-radius: 70%;
    display: block;
    margin: 10px;
    margin-left:100px ;
}
.word-container{
font-size: 25px;
width: 800px;
color: rgb(255, 255, 255);
}
.word-container h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.word-container p{
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 25px;
    color: aliceblue;
}
.word-container button:hover{
    color: brown;
}
.word-container button{
    padding: 10px;
    margin-top: 20px;
    background-color:white ;
    border-radius: 10px;
    border:none ;
}
.word-container button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(14, 14, 14);
}
body{
    background-color: azure;
    background:linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 53%, rgba(0, 212, 255, 1) 100%);
}
.about-container{
    background-color:#020024;



    background: linear-gradient(199deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding:89px ;
    margin-top: 60px;
    color: white;
    font-size: 25px;
    width: 88%;
}
.about-container h1{
    margin-bottom: 20x;

}
.about-container h1:hover{
    color: #020024;
}
.icon-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    
    
    margin: auto;
    
   
    font-size: 25px;
    width: 88%;
    margin-bottom: 50px;
}
.text-container{
   background-color:#020024;



    background: linear-gradient(199deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding:50px ;
    margin-top: 60px;
    color: white;
    font-size: 25px;
    width: 88%;
}

.icon-box {
    
    
    padding: 20px;
    border-radius: 15px;
    
    transition: 0.3s ease;
}

.icon-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.icon-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon-box p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}
.contact-container{
    background-color: #020024;
 
 
    background:linear-gradient(199deg,hsl(243, 100%, 7%) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%) ;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
footer{
     background-color:#020024;

display: flex;

    background: linear-gradient(199deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
    justify-content: space-between;
    border-radius: 30px;
    margin: auto;
    padding: 80px;
    margin-top: 60px;
    color: white;
    font-size: 25px;
    width: 88%;
    margin-bottom: 50px;
}
.left-footer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 20px;
    margin-top: 25px;
}
.right-container{
     border-radius: 50px;
    margin: auto;
    padding: 80px;
    margin-top: 60px;
    background-color: white;
    font-size: 25px;
    width: 88%;
    margin-bottom: 50px;
    text-align: center;
}
.left-footer h1{
    color: rgb(218, 220, 221);
}
.right-footer h1{
    color: rgb(9, 14, 19);
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    text-align: center;
font-family: 'Times New Roman', Times, serif;
}
.right-footer h3{
    font-size: 20px;
    color: #020024;
}

.social {
    margin: 0 10px;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.social :hover {
    color: #ff7b00;

    background: #ffffff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.center-container h3,h4{
    color: #020024;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
}
.text-container h1:hover{
    color: black;
    margin-bottom: 10px;
}
